NODE_ENV=development
PORT=3000
DATABASE_HOST=your_host
DATABASE_PORT=your_port
DATABASE_NAME=your_database_name
DATABASE_USERNAME=your_username
DATABASE_PASSWORD=your_password
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES=time_in_seconds # e.g., 3600s for 1 hour
